*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

nav{
    background-color: blue;
    height: 8vh;
    width: 100vw;
     
}
main{
    background-color:white;
    height: 80vh;
    width: 100vw;
}

p,h3{
    margin-top: 10px;
    text-align:right;
}

.grid-container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.music-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align:right;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 32px;
}
.img-card{
    width: 240px;
    height: 135px;
}
footer{
    background-color: blueviolet;
    height: 12vh;
    width: 100vw;
}

