body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#first-block {
    background-color: red;
    height: 12vh;
    width: 100vw;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-top: 20px;
}
.blue-block {
    background-color: blue;
    height: 24vh;
    width: 30vw;
    /* display: flex; */
    margin-right: 20px;   
}
.yellow-block {
    background-color: yellow;
    height: 24vh;
    width: 30vw;
    margin-right: 20px; 
}
.green-block {
    background-color: green;
    height: 24vh;
    width: 30vw;
}
.black-block7 {
    background-color: black;
    color: white;
    height: 70vh;
    width: 45vw;
    justify-content: center;
    margin-right: 20px; 
}
.black-block8 {
    background-color: black;
    color: white;
    height: 70vh;
    width: 45vw;
    justify-content: center;
    margin-left:20px; 
}
.white-block {
    background-color: white;
    border: 1px solid black;
    height: 24vh;
    width: 30vw;
    justify-content: center;
    margin-right: 20px;
    margin-left: 19px;  
}
.white-block10{
    background-color: white;
    border: 1px solid black;
    height: 24vh;
    width: 29.5vw;
    justify-content: center;
}

/* Aplicar responsividade */
@media screen and (min-width: 801px) and (max-width: 1024px){
    .green-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2vh;
    }
    .blue-block,.yellow-block {
        width: 47%;
        margin-top: 2vh;
    }
}
@media screen and (max-width: 800px){
    .column{
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
    }
    .column div{
        width: 100%;
        
    }
}